@model MovieTicketReservation.ViewModels.ReserveSeatsViewModel

<h2 class ="text-center">@Model.MovieShowStart</h2>
<h3 class ="text-center">Movie @Model.Title</h3>

<form asp-controller="Reservation" asp-action="ReserveSeats" method="post">
    <div class="form-group">
        <label>Select Seat:</label>

        <div class="row">
            @for (int row = 1; row <= Model.HallRows; row++)
            {
                <br></br>
                <h5>Row @row:</h5>
                <br></br>
                <div class="row">
                    @for (int seat = 1; seat <= Model.HallCapacity; seat++)
                    {
                        if (seat <= 10) // Display only 10 seats per row
                        {
                            // Calculate the actual seat number
                            int actualSeatNumber = (row - 1) * 10 + seat;

                            <div class="col-md-1">
                                <input type="checkbox" id="@($"Seat-{actualSeatNumber}")" name="Seats" value="@actualSeatNumber"  />
                                <label for="@($"Seat-{actualSeatNumber}")">Seat @actualSeatNumber</label>
                            </div>
                        }
                    }
                </div>
            }
        </div>

    </div>

    


    <input type="hidden" name="Created" value="@DateTime.Now" />
    <input type="hidden" name="MovieShowId" value="@Model.MovieShowId" />
    <input type="hidden" name="Price" value="4" />
    

    <button type="submit" class="btn btn-primary">Reserve Seats</button>
    <div>
        <span id="ticketPrice"></span>
    </div>
</form>


<script>
    // Function to calculate and update the displayed price
    function updatePrice() {
        var totalPrice = 0;
        // Loop through all checked checkboxes
        $("input[name='Seats']:checked").each(function () {
            totalPrice += 4;
        });
        // Update the displayed price
        $("#ticketPrice").text("Total Price: $" + totalPrice.toString() );
    }

    // Attach an event listener to the checkboxes
    $("input[name='Seats']").change(function () {
        updatePrice();
    });

    
    updatePrice();
</script>
