@model List<Movies>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";

}





<div>
    <h3>List of Movies</h3>
</div>

@foreach (var movie in Model)
{
    <div class="row mb-3">
        <!-- Movie Image -->
        <div class="col-md-4">
            <img src="@Url.Content("~/" + movie.ThumbNail)" alt="Movie Thumbnail" class="img-fluid" />
        </div>

        <!-- Movie Data -->
        <div class="col-md-8">
            <div><strong>@movie.Title</strong></div>
            <div>@movie.MovieLength mins</div>
            <div>Genre: @movie.Genre</div>
            <div>Stars: @movie.Actors</div>
            <div>Release date: @movie.ReleaseDate.ToString("yyyy-MM-dd")</div>
            <div>Director: @movie.Director</div>
            <div>@movie.Description</div>

            <div class="row">
                <div class="col"></div>
                <div class="col-auto">
                    <div style="margin-top:100px">
                        @Html.ActionLink("Screenings", "Screenings", new { movieId = movie.MovieId }, new { @class = "btn btn-warning", @style = "color:black" })

                    </div>
                </div>
            </div>

            
            
        </div>
    </div>
    <hr />
}




